{{ $config := json $configs }}{{ $lb := $config.lb_instances }}{{ $passwd := $config.admin_password }}
global
    daemon
    pidfile /var/run/haproxy.pid
    maxconn 20000
    user root
    group root
    stats socket /var/run/haproxy.stat level admin

defaults
    mode http

    stats uri /stats
    stats realm   Haproxy\ Statistics
    stats auth    admin:{{ $passwd }}

    http-check disable-on-404
    option httpchk GET /

    # Setting options
    option redispatch
    option tcp-smart-accept
    option tcp-smart-connect
    option forwardfor
    option http-server-close

    # Setting timeouts
    timeout connect           5s
    timeout client           20s
    timeout server           15s
    timeout http-keep-alive   1s
    timeout check             2s

    # Slowloris protection
    timeout http-request     10s     # Slowloris protection
    timeout tarpit            1m     # tarpit hold time
    timeout queue             1m
    backlog                10000

frontend www_http
    bind *:80
    reqadd X-Forwarded-Proto:\ http
    option forwardfor
    option http-server-close
    {{ range $backend, $url := $lb }} {{$url_a := split $url "/"}}
    acl host_{{ $backend }} hdr(host) -i {{ $url_a[0] }}
    acl path_{{ $backend }} path_beg /{{ $url_a[1] }}
    use_backend cluster_{{ $backend }} if host_{{ $backend }} and path_{{ $backend }}
    {{ end }}
    capture cookie  SERVERID                     len 32
    capture request header Referer               len 64
    capture request header User-Agent            len 128
    capture request header Host                  len 64
    capture request header X-Forwarded-For       len 64
    capture request header Accept-Encoding       len 64
{{ range $backend, $url := $lb }}
{{ $ips := printf "/backends/%s/ips" $backend }}
backend cluster_{{ $backend }}
    {{ if gt ( len ( ls $ips ) ) 1 }}
    balance roundrobin
    cookie SERVERID insert indirect
    {{ range $id, $ip := ls $ips }}{{ $ip := base $ip }}
    server {{ $backend }}-{{ $id  }} {{ $ip }}:80 cookie {{ base $backend }}-{{ $id }} check{{ end }}
    {{ else }}{{ range $id, $ip := ls $ips }}
    {{ $ip := base $ip }}
    server {{ $backend }}-{{ $id  }} {{ $ip }}:80{{ end }}{{ end }}
{{ end }}
